<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_boot_mybatis.mapper.UserMapper">
    <!-- XML 기반의 MyBatis 매퍼 사용 -->
    <select id="findAll" resultType="com.example.spring_boot_mybatis.domain.User">
        SELECT * FROM users
    </select>
    <select id="findOne" parameterType="long" resultType="com.example.spring_boot_mybatis.domain.User">
        SELECT * FROM users where id = #{id}
    </select>
    <insert id="cUser" parameterType="com.example.spring_boot_mybatis.domain.User" useGeneratedKeys="true" keyProperty="id">
        insert into users (username, email) values (#{username},#{email})
    </insert>
    <update id="uUser" parameterType="com.example.spring_boot_mybatis.domain.User">
        update users set username = #{username}, email = #{email} where id = #{id}
    </update>
    <delete id="dUser" parameterType="com.example.spring_boot_mybatis.domain.User">
        delete FROM users where id = #{id}
    </delete>
</mapper>